h2{
    text-align: center;
    color: #3b57c9;
    user-select:none;
    text-shadow: 1px 4px 1px rgb(255, 255, 255);
}
table{
    
    width: 65%;
    border: 3px solid  #07d8ef;
    margin-top: 30px;
    margin-left: 12.5%;
    padding: 5px;
    border-radius: 14px;
    user-select: none;
}
#horaire{
    background-image: url(/clock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    width: 100vw;
    height:100vh;
    
}
th:hover{
    font-size: 18px;
    

}
tr:hover{
    color: blue;
    
}